name: Build

on: [ workflow_dispatch ]
jobs:
  build:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 1000
          fetch-tags: true
      - name: Setup JDK 21
        uses: actions/setup-java@v2
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Build with Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          arguments: build
          gradle-version: 8.9
      - uses: BrycensRanch/read-properties-action@v1
        id: version
        with:
          file: gradle.properties
          property: mod_version
      - name: mc-publish
        uses: Kir-Antipov/mc-publish@v3.3.0
        with:
          version: ${{ steps.version.outputs.value }}
          github-token: ${{ secrets.GIT_TOKEN }}
          modrinth-id: iRE67WIn
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}
          curseforge-id: 657831
          curseforge-token: ${{ secrets.CURSEFORGE_TOKEN }}
          files-primary: build/libs/!(*-@(javadoc|sources)).jar
          version-type: release
          loaders: neoforge
          game-versions: 1.21.1
          java: 21
          name: ""
          changelog-file: changelog-1.21.*
      - name: Nuke Changelog dot txt
        uses: JesseTG/rm@v1.0.3
        with:
          path: changelog-1.21.txt
      - uses: finnp/create-file-action@master
        env:
          FILE_NAME: "changelog-1.21.txt"
          FILE_DATA: ""
      - name: Increment version variable
        id: bump_version
        uses: christian-draeger/increment-semantic-version@1.2.3
        with:
          current-version: ${{ steps.version.outputs.value }}
          version-fragment: 'hotfix'
      - name: Replace single file
        uses: richardrigutins/replace-in-files@v2
        with:
          files: 'gradle.properties'
          search-text: ${{ steps.version.outputs.value }}
          replacement-text: ${{ steps.bump_version.outputs.next-version }}
      - name: Commit & Push
        uses: Andro999b/push@v1.3
        with:
          github_token: ${{ secrets.GIT_TOKEN}}
          branch: ${{ github.ref }}
          force: true